.App {
  font-family: sans-serif;
  text-align: center;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: #fff;
}
.main-nav ul {
  display: flex;
  margin: 0;
  padding: auto;
  list-style: none;
}

.main-nav li:hover {
  color: #585050;
}
.toggle-button {
  display: none;
}
li {
  margin: 0 20px;
  font-size: 12px;
}
.main-header {
  background-color: #000000;
  min-height: 3.5rem;
  padding: 1rem !important;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
  position: fixed;
  width: 100%;
  z-index: 999;
  overflow: hidden;
  top: 0;
}
.toggle-button .bar {
  height: 2px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  border-radius: 2px;
}
.toggle-button .RotateX {
  height: 2px;
  width: 100%;
  margin-top: 6px;
  transform: rotate(45deg);
  transform-origin: 10% 10%;
  background-color: rgb(255, 255, 255);
  border-radius: 2px;
}
.toggle-button .RotateY {
  height: 2px;
  width: 100%;
  transform: rotate(-45deg);
  transform-origin: 20% 100%;
  background-color: rgb(255, 255, 255);
  border-radius: 2px;
}

@media only screen and (max-width: 705px) {
  .main-nav {
    margin-top: 20px;
    margin-left: -40px;
  }
  .li-search {
    margin-left: 50px;
  }
  .toggle-button {
    top: 0px;
    flex-direction: column;
    justify-content: space-between;
    height: 15px;
    width: 15px;
    cursor: pointer;
    display: flex;
  }
  .main-nav ul {
    flex-direction: column;
    align-items: flex-start;
    display: none;
  }
  .main-nav li {
    padding: 0.6rem 0;
  }
  .main-nav .li-search {
    margin-left: -10px;
  }
  .main-nav ul.active {
    display: flex;
  }
}
